* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  color: #333;
}

a {
  text-decoration: none;
}

.tx-c {
  text-align: center;
}

.ptb20 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p20 {
  padding: 2rem;
}

.ub {
  display: -ms-flexbox;
  display: flex;
}

.ub-f1 {
  -ms-flex: 1;
      flex: 1;
}

.page-title {
  font-size: 3.4rem;
  color: #0099E6;
  font-weight: 600;
  text-align: center;
}

.page-desc {
  color: #666;
  text-align: center;
}

.kjui-grids {
  max-width: 640px;
  margin: 0 auto;
  margin-top: 3rem;
}

.kjui-grid {
  height: 3rem;
  line-height: 3rem;
}

.kjui-grid a {
  border-bottom: 1px solid #E6E6E6;
  display: block;
  background-size: 2.4rem 2.4rem;
  background-repeat: no-repeat;
  background-position: 0.6rem center;
  padding-left: 3.5rem;
  color: #666;
}

.kjui-grid a:hover {
  background-color: #FFF;
}

.kjui-grid a:active, .kjui-grid a:visited {
  color: #666;
}

.ui-button {
  background-image: url(../images/icon_nav_button.png);
}

.ui-actionSheet {
  background-image: url(../images/icon_nav_actionSheet.png);
}

.ui-dialog {
  background-image: url(../images/icon_nav_dialog.png);
}

.ui-toast {
  background-image: url(../images/icon_nav_toast.png);
}

.btn-group .btn {
  margin-bottom: 1.5rem;
}

.highlight {
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.highlight pre {
  display: block;
  overflow: auto;
}

.btn {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: .3rem;
  padding: 0 2rem;
  cursor: pointer;
}

.btn-default {
  background: #0099e6;
  color: #fff;
}

.btn-default:visited {
  color: #FFF;
}

.btn-default:active {
  background: #0092DB;
}

.btn-gray {
  background: #CCCCCC;
  color: #FFF;
}

.btn-gray:visited {
  color: #FFF;
}

.btn-gray:active {
  background: #C8c8c8;
}

.btn-cancle {
  background-color: #E2F7FF;
  color: #0099e6;
  border: 1px solid #0099e6;
}

.btn-cancle:visited {
  color: #0099e6;
}

.btn-cancle:active {
  background-color: #BFE3F1;
}

.bk {
  display: block;
}

.popwarn {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
}

.popwarn .popwarn-ctx {
  border-radius: 6px;
  background-color: #FFF;
  position: absolute;
  width: 70%;
  left: 15%;
  top: 50%;
  padding: 1rem 1rem 1rem;
  margin-top: -9rem;
  animation: alert .2s linear;
}

.popwarn .popwarn-ctx .kjicon {
  font-size: 4rem;
}

.popwarn .popwarn-ctx p {
  text-align: center;
}

.popwarn .popwarn-ctx a {
  margin-top: 1.5rem;
}

.poptel {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.poptel .poptel-ctx {
  position: absolute;
  width: 88%;
  left: 6%;
  bottom: 0.5rem;
  animation: poptel .2s linear both;
}

.poptel .poptel-ctx div {
  background-color: #FFF;
}

.poptel .poptel-ctx .cancle {
  line-height: 4rem;
  color: #0099e6;
  text-align: center;
  border-radius: 4px;
}

.poptel .poptel-ctx .num {
  color: #0099e6;
  line-height: 4rem;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 0.5rem;
  display: block;
  background-color: #FFF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.poptel .poptel-ctx .title {
  line-height: 4rem;
  padding-left: 1rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@keyframes poptel {
  0% {
    bottom: 0.5rem;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    bottom: 4rem;
  }
  100% {
    bottom: 3rem;
  }
}

.poplist {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}

.poplist .relative {
  height: 100%;
}

.poplist .poplist-ctx {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.poplist .list-con {
  background-color: #FFF;
}

.poplist .list-con .ui-box {
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.5rem;
  border-bottom: 1px solid #e6e6e6;
}

.poplist .list-con .circle {
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  line-height: 1rem;
}

.poplist .list-con .kjicon {
  color: #4EB131;
}

.poploading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}

.poploading .ctx {
  width: 4rem;
  height: 4rem;
  background-image: url(../images/load.gif);
  background-size: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
}

.poptoast {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}

.poptoast .ctx {
  background-color: rgba(40, 40, 40, 0.75);
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3.5rem;
  margin-top: -1.5rem;
  border-radius: 0.4rem;
}

.poptoast .ctx p {
  color: #FFF;
  text-align: center;
  line-height: 11rem;
}

.poptoast .ctx .kj-loading {
  position: absolute;
  width: 0px;
  z-index: 2000000000;
  left: 50%;
  top: 38%;
}

.poptoast .ctx .kj-loading .kj-loading-leaf {
  position: absolute;
}

.poptoast .ctx .kj-loading .kj-loading-leaf:before {
  content: " ";
  position: absolute;
  width: 0.7rem;
  height: 0.2rem;
  background: #d1d1d5;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px;
  border-radius: 1px;
  transform-origin: left 50% 0px;
}

.poptoast .ctx .kj-loading .kj-loading-leaf-0 {
  animation: opacity-60-25-0-12 1.25s linear infinite;
}

.poptoast .ctx .kj-loading .kj-loading-leaf-0:before {
  transform: rotate(0deg) translate(0.6rem, 0px);
}

.poptoast .ctx .kj-loading .kj-loading-leaf-1 {
  animation: opacity-60-25-1-12 1.25s linear infinite;
}

.poptoast .ctx .kj-loading .kj-loading-leaf-1:before {
  transform: rotate(30deg) translate(0.6rem, 0px);
}

.poptoast .ctx .kj-loading .kj-loading-leaf-2 {
  animation: opacity-60-25-2-12 1.25s linear infinite;
}

.poptoast .ctx .kj-loading .kj-loading-leaf-2:before {
  transform: rotate(60deg) translate(0.6rem, 0px);
}

.poptoast .ctx .kj-loading .kj-loading-leaf-3 {
  animation: opacity-60-25-3-12 1.25s linear infinite;
}

.poptoast .ctx .kj-loading .kj-loading-leaf-3:before {
  transform: rotate(90deg) translate(0.6rem, 0px);
}

.poptoast .ctx .kj-loading .kj-loading-leaf-4 {
  animation: opacity-60-25-4-12 1.25s linear infinite;
}

.poptoast .ctx .kj-loading .kj-loading-leaf-4:before {
  transform: rotate(120deg) translate(0.6rem, 0px);
}

.poptoast .ctx .kj-loading .kj-loading-leaf-5 {
  animation: opacity-60-25-5-12 1.25s linear infinite;
}

.poptoast .ctx .kj-loading .kj-loading-leaf-5:before {
  transform: rotate(150deg) translate(0.6rem, 0px);
}

.poptoast .ctx .kj-loading .kj-loading-leaf-6 {
  animation: opacity-60-25-6-12 1.25s linear infinite;
}

.poptoast .ctx .kj-loading .kj-loading-leaf-6:before {
  transform: rotate(180deg) translate(0.6rem, 0px);
}

.poptoast .ctx .kj-loading .kj-loading-leaf-7 {
  animation: opacity-60-25-7-12 1.25s linear infinite;
}

.poptoast .ctx .kj-loading .kj-loading-leaf-7:before {
  transform: rotate(210deg) translate(0.6rem, 0px);
}

.poptoast .ctx .kj-loading .kj-loading-leaf-8 {
  animation: opacity-60-25-8-12 1.25s linear infinite;
}

.poptoast .ctx .kj-loading .kj-loading-leaf-8:before {
  transform: rotate(240deg) translate(0.6rem, 0px);
}

.poptoast .ctx .kj-loading .kj-loading-leaf-9 {
  animation: opacity-60-25-9-12 1.25s linear infinite;
}

.poptoast .ctx .kj-loading .kj-loading-leaf-9:before {
  transform: rotate(270deg) translate(0.6rem, 0px);
}

.poptoast .ctx .kj-loading .kj-loading-leaf-10 {
  animation: opacity-60-25-10-12 1.25s linear infinite;
}

.poptoast .ctx .kj-loading .kj-loading-leaf-10:before {
  transform: rotate(300deg) translate(0.6rem, 0px);
}

.poptoast .ctx .kj-loading .kj-loading-leaf-11 {
  animation: opacity-60-25-11-12 1.25s linear infinite;
}

.poptoast .ctx .kj-loading .kj-loading-leaf-11:before {
  transform: rotate(330deg) translate(0.6rem, 0px);
}

.poptip {
  z-index: 9999;
  text-align: center;
  position: fixed;
  left: 0;
  top: 40%;
  height: 100%;
  width: 100%;
  animation: poptip .5s linear both .6s;
}

.poptip .ctx {
  padding: 1rem 2rem;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

@keyframes poptip {
  from {
  }
  to {
    opacity: 0;
  }
}

.animate-hide {
  animation: poptip .2s linear both;
}

.poptext {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.poptext .ctx {
  position: absolute;
  width: 70%;
  left: 15%;
  top: 35%;
  border-radius: 8px;
  animation: alert .2s linear;
  background-color: #FFF;
  overflow: hidden;
}

.poptext .ctx .wrap {
  padding: 2rem;
  text-align: center;
  line-height: 2.2rem;
}

.poptext .ctx a {
  color: #FF0000;
}

.poptext .ctx a:active, .poptext .ctx a:visited {
  color: #FF0000;
}

.poptext .confirm {
  border-top: 1px solid #e6e6e6;
  text-align: center;
  color: #0099e6;
  line-height: 3rem;
  height: 3rem;
}

.poptext .confirm:active {
  background-color: #E6E6E6;
}

.poptext .confirm:nth-child(2) {
  border-left: 1px solid #e6e6e6;
}

@keyframes alert {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes opacity-60-25-0-12 {
  0% {
    opacity: 0.25;
  }
  0.01% {
    opacity: 0.25;
  }
  0.02% {
    opacity: 1;
  }
  60.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes opacity-60-25-1-12 {
  0% {
    opacity: 0.25;
  }
  8.34333% {
    opacity: 0.25;
  }
  8.35333% {
    opacity: 1;
  }
  68.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes opacity-60-25-2-12 {
  0% {
    opacity: 0.25;
  }
  16.6767% {
    opacity: 0.25;
  }
  16.6867% {
    opacity: 1;
  }
  76.6767% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes opacity-60-25-3-12 {
  0% {
    opacity: 0.25;
  }
  25.01% {
    opacity: 0.25;
  }
  25.02% {
    opacity: 1;
  }
  85.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes opacity-60-25-4-12 {
  0% {
    opacity: 0.25;
  }
  33.3433% {
    opacity: 0.25;
  }
  33.3533% {
    opacity: 1;
  }
  93.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes opacity-60-25-5-12 {
  0% {
    opacity: 0.270958333333333;
  }
  41.6767% {
    opacity: 0.25;
  }
  41.6867% {
    opacity: 1;
  }
  1.67667% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.270958333333333;
  }
}

@keyframes opacity-60-25-6-12 {
  0% {
    opacity: 0.375125;
  }
  50.01% {
    opacity: 0.25;
  }
  50.02% {
    opacity: 1;
  }
  10.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.375125;
  }
}

@keyframes opacity-60-25-7-12 {
  0% {
    opacity: 0.479291666666667;
  }
  58.3433% {
    opacity: 0.25;
  }
  58.3533% {
    opacity: 1;
  }
  18.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.479291666666667;
  }
}

@keyframes opacity-60-25-8-12 {
  0% {
    opacity: 0.583458333333333;
  }
  66.6767% {
    opacity: 0.25;
  }
  66.6867% {
    opacity: 1;
  }
  26.6767% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.583458333333333;
  }
}

@keyframes opacity-60-25-9-12 {
  0% {
    opacity: 0.687625;
  }
  75.01% {
    opacity: 0.25;
  }
  75.02% {
    opacity: 1;
  }
  35.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.687625;
  }
}

@keyframes opacity-60-25-10-12 {
  0% {
    opacity: 0.791791666666667;
  }
  83.3433% {
    opacity: 0.25;
  }
  83.3533% {
    opacity: 1;
  }
  43.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.791791666666667;
  }
}

@keyframes opacity-60-25-11-12 {
  0% {
    opacity: 0.895958333333333;
  }
  91.6767% {
    opacity: 0.25;
  }
  91.6867% {
    opacity: 1;
  }
  51.6767% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.895958333333333;
  }
}
