@charset "UTF-8";
/**
 * 
 * @authors csy (xjcjcsy@sina.cn)
 * @date    2016-12-07 20:31:552
 * @version $Id$
 */
/* Change font to Roboto. */
body{
	font-family: 'Roboto';
}
/* Change Button Color */
.btn-rgb{
	color: #fff;
    background-color: rgb(200,20,100);
    border-color: rgb(171,13,83);
}
.btn-rgb:hover{
	color:#fff;
	background-color: rgb(181,19,90);
}

/* Answer 2 */
.layout-box{
	min-width: 960px;
}
.wrap{
	overflow: hidden;
	position: relative;
}
.layout{
	width:960px;
}
.A,.C{
	width:180px;
}
.wrap .B{
	width:600px;
}
.A,.B,.C{
	height:180px;
	line-height: 180px;
	text-align: center;
}
.A{
	background-color: #CC0000;
}
.B{
	background-color: #FFFF33;
}
.C{
	background-color: #33CCFF;
}
.abc-layout div{
	float: left;
}
.cba-layout div{
	float:right;
}
.bac-layout .A{
	position: absolute;
	top:0;
	left:600px;
}
.bac-layout .B{
	float:left;
}
.bac-layout .C{
	float:right;
}
.cba-box{
	overflow: hidden;
}
.cba-box .A{
	float:right;
	margin-left:-180px;
	position: relative;
}
.cba-box .B{
	float:right;
	width:100%;
	padding:0 180px;
}
.cba-box .C{
	position: relative;
	float:left;
	margin-right:-180px;
}
.cba-box-2{
	position: relative;
}
.cba-box-2 .A{
	position: absolute;
	right:0;
	top:0;
}
.cba-box-2 .B{
	width:100%;
	padding:0 180px;
}
.cba-box-2 .C{
	position: absolute;
	left:0;
	top:0;
}