@charset "UTF-8";
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #F8F8F8;
  min-width: 320px;
  /* max-width:640px; */
  margin: 0 auto;
  color: #333;
  font-size: 0.14rem;
  font-family: "Microsoft YaHei"; }

header, footer, nav, menu, main, section, article, aside,
details, figcaption, figure, summary, hgroup {
  display: block; }

h1, h2, h3, h4, h5, h6, p, img, a, pre,
blockquote, q, del, small, abbr, address, sub, sup,
em, i, strong, b, tt, code, dfn, samp, var, cite, mark,
dd, dl, dt, ol, ul, li,
fieldset, legend, caption,
form, label, button, input, select, textarea,
table, tr, th, td {
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  border: 0 none; }

ul, li {
  list-style-type: none; }

img {
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent; }

button {
  -webkit-tap-highlight-color: transparent; }

input, select, textarea {
  outline: none;
  vertical-align: middle;
  font-family: "Microsoft YaHei"; }

select {
  display: block;
  width: 100%; }

.none {
  -webkit-user-select: none; }

.character {
  font-family: "Helvetica Neue", Helvetica; }

.p10 {
  padding: 0.1rem; }

.p-30 {
  padding: 0 0.3rem; }

.p-60 {
  padding: 0 0.6rem; }

.p-10 {
  padding: 0 0.1rem; }

.p-15 {
  padding: 0 0.15rem; }

.p-5 {
  padding: 0 0.05rem; }

.p-20 {
  padding: 0 0.2rem; }

.pb-40 {
  padding-bottom: 0.4rem; }

.pb-50 {
  padding-bottom: 0.5rem; }

.pl-40 {
  padding-left: 0.4rem; }

.pr-40 {
  padding-right: 0.4rem; }

.pl-30 {
  padding-left: 0.15rem; }

.pr-50 {
  padding-right: 0.25rem; }

.pl-5 {
  padding-left: 0.05rem; }

.pr-5 {
  padding-right: 0.05rem; }

.tx-l {
  text-align: left; }

.tx-r {
  text-align: right; }

.tx-c {
  text-align: center; }

.border-l {
  border-left: 1px solid #EEE; }

.border-r {
  border-right: 1px solid #EEE; }

.border-t {
  border-top: 1px solid #EEE; }

.border-b {
  border-bottom: 1px solid #EEE; }

.mr5 {
  margin-right: 0.05rem; }

.ml5 {
  margin-left: 0.05rem; }

.mt10 {
  margin-top: 0.1rem; }

.mb10 {
  margin-bottom: 0.1rem; }

.mt15 {
  margin-top: 0.15rem; }

.bg-size {
  background-size: 100% 100%; }

.red {
  color: #EC3351; }

.c999 {
  color: #999; }

.fff {
  background-color: #FFF; }

.bk {
  display: block;
  width: 100%; }

.no-sel {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.ut-s {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.uof {
  overflow: hidden; }

.ub-con {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto; }

.ub {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  position: relative; }

.ub-ac {
  -webkit-box-align: center;
  box-align: center; }

.ub-ae {
  -webkit-box-align: end;
  box-align: end; }

.ub-pc {
  -webkit-box-pack: center;
  box-pack: center; }

.ub-pe {
  -webkit-box-pack: end;
  box-pack: end; }

.ub-pj {
  -webkit-box-pack: justify;
  box-pack: justify; }

.ub-ver {
  -webkit-box-orient: vertical;
  box-orient: vertical; }

.ub-f1 {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1; }

.ub-f2 {
  position: relative;
  -webkit-box-flex: 2;
  box-flex: 2; }

.ub-f3 {
  position: relative;
  -webkit-box-flex: 3;
  box-flex: 3; }

.ub-f4 {
  position: relative;
  -webkit-box-flex: 4;
  box-flex: 4; }

.relative {
  position: relative; }

.fixed {
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed !important; }

.absolute {
  position: absolute !important; }

.col-1 {
  float: left;
  position: relative;
  width: 8.33333%; }

.col-2 {
  float: left;
  position: relative;
  width: 16.66667%; }

.col-2-4 {
  float: left;
  position: relative;
  width: 20%; }

.col-3 {
  float: left;
  position: relative;
  width: 25%; }

.col-4 {
  float: left;
  position: relative;
  width: 33.33333%; }

.col-5 {
  float: left;
  position: relative;
  width: 41.66667%; }

.col-6 {
  float: left;
  position: relative;
  width: 50%; }

.col-7 {
  float: left;
  position: relative;
  width: 58.33333%; }

.col-8 {
  float: left;
  position: relative;
  width: 66.66667%; }

.col-9 {
  float: left;
  position: relative;
  width: 75%; }

.col-12 {
  position: relative;
  width: 100%; }

.clearfix,
.container:after,
.col-1::after,
.col-2::after,
.col-2-4::after,
.col-3::after,
.col-4::after,
.col-5::after,
.col-6::after,
.col-7::after,
.col-8::after,
.col-9::after,
.col-12::after {
  content: "";
  display: table;
  clear: both; }

.clear {
  clear: both; }

.hidden {
  visibility: hidden; }

.swiper-container img {
  display: block;
  width: 100%; }

.btn {
  display: block;
  text-align: center;
  line-height: 0.35rem; }

.btn-blank {
  border: 1px solid #999;
  color: #999;
  background-color: #FFF;
  border-radius: 4px; }
  .btn-blank:active, .btn-blank:visted {
    color: #999; }

.btn-black {
  color: #FFF;
  border: 1px solid #FFF; }

.btn-red {
  color: #FFF;
  background-color: #EC3351; }
  .btn-red:active, .btn-red:visted {
    color: #FFF; }

.btn-u {
  line-height: 0.3rem; }

.footer {
  background-color: #FFF;
  border-top: 1px solid #DDD;
  padding: 0.05rem;
  width: 100%;
  left: 0;
  bottom: 0; }
  .footer a {
    display: block;
    color: #333;
    font-size: 0.12rem; }
    .footer a img {
      display: block;
      margin: 0 auto;
      width: 0.15rem;
      height: 0.15rem; }
    .footer a p {
      margin-top: 0.05rem; }
  .footer a:visted, .footer a:actived {
    color: #333; }

.bor-r {
  border-right: 1px solid #DDD; }

.bor-b {
  border-bottom: 1px solid #DDD; }

.top {
  background-color: #FFF;
  font-size: 12px;
  color: #EC3351; }
  .top .call {
    display: inline-block;
    vertical-align: -2px;
    width: 0.14rem;
    height: 0.14rem;
    background-image: url(../images/icon-phone.png); }
  .top .col-6 {
    line-height: 18px; }
  .top .grid-call {
    padding: 0.075rem 0; }
  @media screen and (max-width: 340px) {
    .top .call {
      display: none; } }

.search-warp {
  padding: 0 0.15rem;
  padding-bottom: 0.05rem; }

.search-box {
  background-color: #EDEDED;
  height: 0.3rem;
  border-radius: 0.15rem;
  position: relative;
  background-image: url(../images/icon-logo.png);
  background-repeat: no-repeat;
  background-size: 0.3525rem 0.1225rem;
  background-position: 0.09rem 0.09rem;
  padding-left: 0.45rem; }
  .search-box input {
    background-color: transparent;
    font-size: 0.14rem;
    height: 100%;
    line-height: normal;
    padding-left: 0.1rem; }
  .search-box input::-webkit-input-placeholder {
    color: #CCC; }
  .search-box .btn-search {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #EC3351;
    height: 100%;
    width: 0.35rem;
    background-image: url(../images/icon-search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.15rem 0.15rem;
    border-bottom-right-radius: 0.15rem;
    border-top-right-radius: 0.15rem; }

.index-tip {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  z-index: 99; }
  .index-tip input {
    background-color: #a3a3a3;
    height: 0.26rem;
    line-height: 0.26rem;
    border-radius: 0.13rem;
    display: block; }
  .index-tip .title {
    width: 0.75rem;
    line-height: 0.26rem; }
  .index-tip .ub-f1 {
    width: 0; }
  .index-tip .ub {
    line-height: 0.26rem; }
  .index-tip .btn {
    border-radius: 4px; }

.index {
  padding-bottom: 0.4rem;
  background-color: #EEEEEE; }
  .index .grid-menu {
    height: 1rem;
    background-color: #FFF;
    padding: 0.15rem 0.1rem; }
    .index .grid-menu .item {
      width: 0.45rem;
      height: 0.45rem;
      margin: 0 auto; }
      .index .grid-menu .item img {
        display: block;
        width: 100%; }
    .index .grid-menu .now span {
      color: #EC3351;
      font-weight: 800;
      border: 1px solid #EC3351; }
    .index .grid-menu span {
      font-size: 0.14rem;
      margin-top: 0.05em;
      display: inline-block; }
    .index .grid-menu .grid-list {
      display: none;
      padding: 0.1rem;
      z-index: 100;
      position: absolute;
      border-radius: 0.08rem;
      left: 0;
      width: 100%;
      background-color: #373737; }
      .index .grid-menu .grid-list a {
        color: #FFF;
        display: inline-block;
        margin-bottom: 0.1rem; }
      .index .grid-menu .grid-list a:visted, .index .grid-menu .grid-list a:actived {
        color: #FFF; }
      .index .grid-menu .grid-list .triangle {
        display: inline-block;
        width: 0;
        height: 0;
        overflow: hidden;
        line-height: 0;
        font-size: 0;
        vertical-align: middle;
        border-bottom: 7px solid #373737;
        border-top: 0 none;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        top: -7px; }
    .index .grid-menu .zhengche .triangle {
      left: 35%; }
    .index .grid-menu .peijian .triangle {
      left: 11%; }
    .index .grid-menu .shop .triangle {
      left: 85%; }
    .index .grid-menu .diy .triangle {
      left: 60%; }
  .index .grid-news {
    background-color: #FFF;
    padding: 0.1rem 0.15rem;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD; }
    .index .grid-news .title-pic {
      width: 0.45rem;
      height: 0.34rem;
      background-image: url(../images/icon-news.jpg);
      background-position: left center;
      background-size: 0.3rem 0.34rem;
      background-repeat: no-repeat;
      border-right: 1px solid #DDDDDD; }
    .index .grid-news .desc {
      padding-left: 0.45rem;
      background-image: url(../images/icon-voice.png);
      background-repeat: no-repeat;
      background-position: 0.15rem 0.1rem;
      background-size: 0.19rem 0.16rem; }
      .index .grid-news .desc p:nth-child(1) {
        font-size: 0.14rem;
        line-height: 0.2rem; }
      .index .grid-news .desc p:nth-child(2) {
        font-size: 0.12rem;
        line-height: 0.14rem;
        color: #EC3351; }
  .index section {
    background-color: #FFF;
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
    padding: 0 0.1rem; }
    .index section .dot {
      float: right;
      width: 0.22rem;
      vertical-align: middle;
      margin-top: 0.05rem; }
    .index section .head {
      border-bottom: 1px solid #DDD;
      margin-bottom: 0.05rem;
      padding: 0.1rem 0.05rem; }
      .index section .head .logo {
        margin-left: 0.08rem;
        width: 0.44rem; }
      .index section .head span {
        display: inline-block;
        font-size: 0.14rem;
        border-right: 1px solid #DDD;
        padding-right: 0.09rem; }
    .index section .slide {
      margin-bottom: 0.15rem; }
  .index .brand-list {
    transition: all .6s ease-in-out;
    position: relative; }
    .index .brand-list .img-list {
      padding-bottom: 0.15rem; }
    .index .brand-list h2 {
      font-size: 0.15rem;
      font-weight: 800; }
    .index .brand-list h3 {
      font-size: 0.13rem; }
    .index .brand-list .right h2, .index .brand-list .right h3 {
      position: absolute; }
    .index .brand-list .right h2 {
      top: 0.05rem;
      left: 0.05rem; }
    .index .brand-list .right h3 {
      top: 0.22rem;
      left: 0.05rem; }
    .index .brand-list .right img {
      width: 0.8rem;
      height: 0.6rem;
      display: block;
      float: right; }
    .index .brand-list .left h2 {
      margin-top: 0.05rem; }
    .index .brand-list .left img {
      width: 1.4rem;
      height: 0.9rem; }
    .index .brand-list .left h3 {
      margin-top: 0.01rem; }

/* shop页面 */
main.shop {
  background-color: #FFF;
  padding-bottom: 0.4rem; }
  main.shop .shop-title {
    padding: 0.1rem;
    width: 100%;
    height: 0.7rem;
    background-image: url(../images/bg-title.jpg);
    background-size: cover;
    padding-right: 1rem;
    padding-left: 0.85rem; }
    main.shop .shop-title img {
      width: 0.7rem;
      height: 0.5rem;
      position: absolute;
      left: 0.1rem;
      top: 0.1rem; }
    main.shop .shop-title .title-desc {
      color: #FFF; }
      main.shop .shop-title .title-desc p:nth-child(1) {
        font-size: 0.14rem;
        line-height: 0.25rem; }
      main.shop .shop-title .title-desc p:nth-child(2) {
        font-size: 0.12rem;
        line-height: 0.25rem; }
    main.shop .shop-title .btn-other {
      color: #FFF;
      background-color: #EC3351;
      font-size: 12px;
      border-radius: 6px;
      position: absolute;
      display: block;
      width: 0.88rem;
      height: 0.25rem;
      line-height: 0.25rem;
      text-align: center;
      top: 0.1rem;
      right: 0.1rem; }
  main.shop .spec {
    background-color: #F4F4F4;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    height: 0.36rem;
    position: relative; }
    main.shop .spec p {
      color: #666;
      line-height: 0.2rem; }
    main.shop .spec .col-12 .col-3 {
      border-right: 1px solid #DDDDDD; }
      main.shop .spec .col-12 .col-3 a {
        display: block;
        color: #333;
        text-align: center;
        line-height: 0.2rem; }
      main.shop .spec .col-12 .col-3 a:actived, main.shop .spec .col-12 .col-3 a:visted {
        color: #333; }
    main.shop .spec .col-12 .col-3:nth-child(4n) {
      border: 0 none; }
    main.shop .spec .angle {
      width: 0.2rem;
      height: 0.2rem;
      background-size: 100% 100%;
      transition: transform .4s;
      -webkit-transition: transform .4s; }
    main.shop .spec .icon-down {
      background-image: url(../images/icon-down.png); }
    main.shop .spec .icon-up {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg); }
    main.shop .spec .other {
      width: 100%; }
      main.shop .spec .other .col-3 {
        margin-top: 0.1rem; }
    main.shop .spec .none {
      display: none; }
  main.shop .show-all .ctx {
    padding: 0.08rem 0.1rem;
    position: absolute;
    width: 100%;
    z-index: 99;
    background-color: #F4F4F4; }
  main.shop .show-all .shadow {
    border-bottom: 1px solid #DDD;
    box-shadow: 0px 2px 3px 0px #ddd; }

/* diy配件 */
.diy-list {
  padding-bottom: 0.4rem; }
  .diy-list .grid-list {
    margin-top: 0 !important; }
  .diy-list .nav {
    position: relative;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    height: 0.34rem; }
  .diy-list .nav-ctx {
    overflow: hidden;
    padding: 0 0.1rem; }
    .diy-list .nav-ctx .left-nav {
      float: left; }
      .diy-list .nav-ctx .left-nav h3 {
        font-size: 0.14rem;
        font-weight: 800;
        line-height: 0.34rem; }
      .diy-list .nav-ctx .left-nav span {
        display: inline-block;
        width: 0.175rem;
        height: 0.175rem;
        background-image: url(../images/icon-down.png);
        background-size: 100% 100%;
        vertical-align: middle;
        margin-left: 12px;
        transition: transform .6s linear;
        -webkit-transition: transform .6s linear; }
      .diy-list .nav-ctx .left-nav .icon-up {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg); }
    .diy-list .nav-ctx .right-nav {
      float: right;
      color: #FFF;
      background-color: #EC3351;
      line-height: 0.2rem;
      height: 0.2rem;
      padding: 0 0.05rem;
      border-radius: 0.05rem;
      margin-top: 0.07rem; }
  .diy-list .diy-peijian {
    z-index: 99;
    display: none;
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    top: 0.32rem;
    padding: 0 0.1rem;
    border-bottom: 1px solid #DDD;
    box-shadow: 0 2px 2px 0 #DDD;
    padding-bottom: 0.1rem; }
    .diy-list .diy-peijian .col-12 span {
      color: #EC3351; }
      .diy-list .diy-peijian .col-12 span i {
        font-size: 12px;
        font-style: normal; }
    .diy-list .diy-peijian .ctx {
      padding: 0 0.05rem;
      /* .col-6:nth-child(even){
      	padding-left:0.025rem;
      }
      .col-6:nth-child(odd){
      	padding-right: 0.025rem;
      } */ }
      .diy-list .diy-peijian .ctx .item {
        color: #666;
        line-height: 0.23rem;
        height: 0.24rem;
        border: 1px solid #DDD;
        font-size: 0.12rem;
        text-align: center; }
      .diy-list .diy-peijian .ctx .grid {
        margin-top: 0.1rem; }
      .diy-list .diy-peijian .ctx .long {
        width: 100%;
        float: left; }
    .diy-list .diy-peijian .btn-red {
      border-radius: 0.05rem; }
    .diy-list .diy-peijian .total {
      line-height: 0.4rem;
      color: #EC3351; }
      .diy-list .diy-peijian .total span {
        font-size: 0.16rem; }
    .diy-list .diy-peijian .tip {
      font-size: 12px;
      position: relative;
      padding-left: 65px;
      margin-top: 0.05rem; }
      .diy-list .diy-peijian .tip span {
        position: absolute;
        top: 2px;
        left: 0;
        color: #EC3351; }
      .diy-list .diy-peijian .tip p {
        color: #999999;
        line-height: 20px; }
  .diy-list .fenlei {
    padding: 0 0.1rem 0; }
    .diy-list .fenlei .all span {
      line-height: 0.21rem;
      border-radius: 0.105rem;
      background-color: #DDDDDD;
      padding: 0 0.175rem;
      display: inline-block;
      margin-top: 0.1rem; }
    .diy-list .fenlei .all {
      padding-bottom: 0.1rem; }
    .diy-list .fenlei .checked {
      color: #FFF;
      background-color: #ED3250 !important; }
    .diy-list .fenlei .fenlei-title {
      display: none; }
      .diy-list .fenlei .fenlei-title p {
        color: #999;
        line-height: 0.3rem;
        height: 0.3rem; }
        .diy-list .fenlei .fenlei-title p span {
          color: #EC3351; }
      .diy-list .fenlei .fenlei-title a {
        position: absolute;
        top: 0;
        right: 0;
        color: #333;
        height: 0.3rem;
        line-height: 0.3rem; }
        .diy-list .fenlei .fenlei-title a:actived, .diy-list .fenlei .fenlei-title a:visted {
          color: #333; }

/* 商品详情 */
.goods main {
  padding-bottom: 0.4rem; }
.goods .goods-name {
  margin-top: 0.1rem;
  padding: 0 0.2rem;
  line-height: 0.2rem;
  margin-bottom: 0.1rem; }
.goods .price {
  margin-bottom: 0.1rem; }
  .goods .price div {
    display: inline-block; }
  .goods .price div:first-child {
    color: #EC3351;
    font-size: 0.18rem; }
  .goods .price div:nth-child(2) {
    font-size: 0.12rem;
    color: #999999; }
  .goods .price div:nth-child(3) {
    color: #FFF;
    font-size: 0.12rem;
    background-color: #EC3351;
    border-radius: 0.05rem;
    padding: 0 0.05rem; }
.goods .goods-desc {
  padding: 0 0.1rem;
  font-size: 0.12rem;
  color: #999; }
.goods .goods-info {
  background-color: #FFF;
  border-bottom: 1px solid #DDD;
  padding-bottom: 0.15rem; }
.goods .choose-color {
  background-color: #FFF;
  padding: 0 0.1rem;
  line-height: 0.4rem;
  position: relative;
  height: 0.4rem;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD; }
  .goods .choose-color span {
    position: absolute;
    line-height: 0.4rem;
    top: 0;
    right: 0.1rem;
    height: 0.38rem;
    background-image: url(../images/icon-right.jpg);
    width: 0.07rem;
    background-size: 100% 100%; }
.goods .bg {
  background-color: #EEE;
  height: 0.05rem; }
.goods .goods-detail {
  background-color: #FFF;
  padding: 0 0.1rem; }
  .goods .goods-detail img {
    width: 100%;
    display: block; }
  .goods .goods-detail p {
    line-height: 0.2rem; }
.goods .repeat {
  display: none;
  padding: 0 0.2rem; }
  .goods .repeat .repeat-item {
    border-bottom: 1px solid #DDD;
    overflow: hidden;
    font-size: 0.12rem; }
    .goods .repeat .repeat-item .repeat-title {
      padding: 0.05rem 0;
      overflow: hidden; }
    .goods .repeat .repeat-item .user {
      color: #666;
      float: left; }
    .goods .repeat .repeat-item .date {
      color: #999;
      float: right; }
    .goods .repeat .repeat-item p {
      font-size: 0.12rem;
      line-height: 0.2rem; }
.goods .tab {
  background-color: #FFF;
  padding: 0 0.1rem; }
  .goods .tab a {
    color: #333;
    line-height: 0.36rem;
    height: 0.36rem;
    border-bottom: 1px solid #DDD; }
    .goods .tab a:actived, .goods .tab a:visted {
      color: #333; }
  .goods .tab a.now {
    color: #EC3351; }
.goods .bottom-button {
  position: fixed;
  z-index: 20;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #FFF;
  border-top: 1px solid #DDD;
  padding: 0.05rem 0.1rem; }
  .goods .bottom-button .col-6:first-child {
    padding-right: 0.05rem; }
  .goods .bottom-button .col-6:last-child {
    padding-left: 0.05rem; }
  .goods .bottom-button a {
    font-size: 0.12rem;
    height: 0.3rem;
    line-height: 0.3rem;
    border-radius: 0.05rem; }
  .goods .bottom-button .go-cart {
    color: #AA1931;
    background-color: #FFD40E; }
    .goods .bottom-button .go-cart:actived, .goods .bottom-button .go-cart:visted {
      color: #AA1931; }
  .goods .bottom-button .go-pay {
    color: #FFF;
    background-color: #EC3351; }
    .goods .bottom-button .go-pay:actived, .goods .bottom-button .go-pay:visted {
      color: #FFF; }

/* 下拉列表 */
.more-list {
  display: none;
  padding: 0.1rem;
  padding-top: 0.2rem;
  z-index: 100;
  position: absolute;
  border-radius: 0.08rem;
  left: 5%;
  width: 90%;
  top: 0.45rem;
  background-color: #373737; }
  .more-list a {
    color: #FFF;
    display: inline-block;
    margin-bottom: 0.1rem;
    line-height: 0.2rem; }
  .more-list a:visted, .more-list a:actived {
    color: #FFF; }
  .more-list .triangle {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #373737;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: -7px;
    left: 85%; }

/* 商品列表 */
.grid-list {
  margin-top: 0.1rem;
  padding: 0 0.05rem; }
  .grid-list .item {
    padding: 0 0.05rem;
    margin-bottom: 0.1rem; }
  .grid-list .ctx {
    border: 1px solid #DDDDDD;
    padding-bottom: 0.08rem; }
    .grid-list .ctx img {
      border-bottom: 1px solid #DDD; }
    .grid-list .ctx .price {
      color: #EC3351;
      font-size: 0.14rem;
      font-weight: 800; }
      .grid-list .ctx .price span {
        font-size: 0.12rem; }
    .grid-list .ctx .num {
      font-size: 0.12rem;
      color: #999999; }
    .grid-list .ctx p {
      margin-top: 0.08rem;
      padding: 0 0.075rem;
      line-height: 0.2rem;
      height: 0.4rem;
      overflow: hidden; }
    .grid-list .ctx .desc {
      padding: 0 0.075rem; }

/* 商品详情 弹出层 */
.mask-bg {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 98;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

.mask .mask-cont {
  position: fixed;
  z-index: 101;
  background-color: #FFF;
  width: 100%;
  bottom: 0;
  left: 0; }
  .mask .mask-cont .icon-close {
    position: absolute;
    width: 0.3rem;
    height: 0.3rem;
    background-image: url(../images/icon-close.png);
    right: 0.1rem;
    top: -0.15rem; }
  .mask .mask-cont .choice {
    padding: 0 0.1rem; }
    .mask .mask-cont .choice .choice-title {
      color: #999;
      font-size: 0.12rem;
      margin-top: 0.15rem;
      margin-bottom: 0.1rem; }
      .mask .mask-cont .choice .choice-title a {
        color: #EC3351;
        position: absolute;
        top: 0;
        right: 0;
        text-decoration: underline; }
        .mask .mask-cont .choice .choice-title a:actived, .mask .mask-cont .choice .choice-title a:visted {
          color: #EC3351; }
    .mask .mask-cont .choice .item-sel {
      display: inline-block;
      border: 1px solid #DDD;
      color: #999;
      /* padding:0.02rem 0.1rem; */
      width: 0.5rem;
      text-align: center;
      line-height: 0.2rem;
      border-radius: 0.06rem; }
    .mask .mask-cont .choice .checked {
      border: 1px solid #EC3351;
      color: #EC3351; }
  .mask .mask-cont .number {
    width: 45%;
    overflow: hidden; }
    .mask .mask-cont .number .min {
      border: 1px solid #DDD;
      border-top-left-radius: 0.06rem;
      border-bottom-left-radius: 0.06rem; }
    .mask .mask-cont .number .add {
      border: 1px solid #DDD;
      border-top-right-radius: 0.06rem;
      border-bottom-right-radius: 0.06rem; }
    .mask .mask-cont .number .num {
      border-top: 1px solid #DDD;
      border-bottom: 1px solid #DDD; }
.mask .mask-title {
  position: relative;
  padding: 0 0.1rem;
  padding-left: 0.9rem; }
  .mask .mask-title img {
    display: block;
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    left: 0.1rem;
    top: -0.1rem;
    border: 2px solid #DDD; }
  .mask .mask-title p {
    line-height: 0.25rem;
    color: #333;
    font-size: 0.14rem; }
  .mask .mask-title h2 {
    color: #EC3351;
    font-size: 0.14rem;
    line-height: 0.25rem; }
  .mask .mask-title div {
    font-size: 0.12rem;
    color: #999;
    line-height: 0.2rem; }
    .mask .mask-title div span {
      margin-right: 0.08rem; }
.mask .mask-btn {
  display: none;
  margin-top: 0.2rem; }
  .mask .mask-btn a {
    height: 0.4rem;
    line-height: 0.4rem; }
.mask .mask-color a {
  font-size: 0.12rem; }
.mask .mask-color .go-cart {
  color: #AA1931;
  background-color: #FFD40E; }
  .mask .mask-color .go-cart:actived, .mask .mask-color .go-cart:visted {
    color: #AA1931; }
.mask .mask-color .go-pay {
  color: #FFF;
  background-color: #EC3351; }
  .mask .mask-color .go-pay:actived, .mask .mask-color .go-pay:visted {
    color: #FFF; }

/* 购物车图标 */
.shop-cart {
  position: fixed;
  width: 0.33rem;
  height: 0.33rem;
  background-image: url(../images/shop-cart.png);
  background-size: 100% 100%;
  z-index: 999;
  right: 0.15rem;
  bottom: 0.55rem; }
  .shop-cart span {
    position: absolute;
    color: #FFF;
    background-color: #EC3351;
    display: block;
    border-radius: 50%;
    padding: 0.01rem 0.04rem;
    top: -0.02rem;
    right: -0.005rem;
    font-size: 0.12rem; }

/* 品牌 */
.grid-brand {
  padding-bottom: 0.4rem; }
  .grid-brand .container {
    height: 100%;
    background-color: #F8F8F8; }
  .grid-brand .top {
    padding: 0.05rem 0;
    border-bottom: 1px solid #DDD; }
  .grid-brand .search-warp {
    padding-bottom: 0; }
  .grid-brand .menu {
    width: 0.9rem;
    border-right: 1px solid #DDD;
    background-color: #FFF; }
    .grid-brand .menu img {
      display: block;
      width: 100%; }
    .grid-brand .menu div {
      height: 0.34rem;
      width: 100%;
      position: relative;
      border-bottom: 1px solid #DDD; }
      .grid-brand .menu div a {
        display: block; }
    .grid-brand .menu .line {
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -2px;
      background-color: #F8F8F8;
      display: none; }
    .grid-brand .menu div.current {
      background-color: #F8F8F8;
      border-right: 1px solid #f8f8f8; }
      .grid-brand .menu div.current .line {
        display: block; }
  .grid-brand .brand-desc {
    padding-left: 0.05rem; }
  .grid-brand section .col-12 {
    padding: 0.1rem 0.05rem;
    background-color: #FFF; }
  .grid-brand section .col-6 {
    padding: 0 0.15rem; }
    .grid-brand section .col-6 img {
      width: 100%; }
  .grid-brand section p {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.05rem 0;
    font-size: 0.12rem; }
  .grid-brand section h3 {
    padding-left: 0.1rem;
    line-height: 0.34rem;
    font-size: 0.14rem; }

.paysucc > div {
  background-color: #FFF; }
.paysucc .pay-title {
  background-size: 100% 100%;
  background-image: url(../images/pay-bg.png);
  background-repeat: no-repeat;
  height: 1.05rem;
  padding: 0.3rem 0 0 0.3rem; }
  .paysucc .pay-title p {
    color: #FFF;
    line-height: 0.2rem; }
  .paysucc .pay-title p:nth-child(1) {
    font-size: 0.16rem; }
  .paysucc .pay-title p:nth-child(2) {
    font-size: 0.14rem;
    padding-top: 0.08rem; }
.paysucc .pay-info {
  padding: 0.15rem 0.1rem 0.2rem; }
  .paysucc .pay-info .add {
    border-bottom: 1px solid #EEE;
    padding-bottom: 0.15rem; }
    .paysucc .pay-info .add p {
      line-height: 0.18rem; }
    .paysucc .pay-info .add p:nth-child(1) {
      font-size: 0.16rem;
      font-weight: 800; }
    .paysucc .pay-info .add p:nth-child(2) {
      margin-top: 0.05rem; }
  .paysucc .pay-info .price {
    color: #ec3351;
    padding: 0.1rem 0; }
    .paysucc .pay-info .price span {
      font-size: 0.18rem; }
  .paysucc .pay-info a {
    color: #333; }
  .paysucc .pay-info .col-12 .col-6:nth-child(1) {
    padding-left: 0.15rem;
    padding-right: 0.2rem; }
  .paysucc .pay-info .col-12 .col-6:nth-child(2) {
    padding-right: 0.15rem;
    padding-left: 0.2rem; }
.paysucc .pay-tip {
  padding: 0.1rem 0.15rem 0.1rem 0.1rem; }
  .paysucc .pay-tip h2 {
    font-size: 0.16rem;
    margin-bottom: 0.05rem; }
  .paysucc .pay-tip p {
    line-height: 0.18rem; }
  .paysucc .pay-tip p:last-child {
    color: #ec3351; }

.coupon .title {
  color: #999999; }
  .coupon .title div {
    line-height: 0.2rem; }
  .coupon .title p {
    line-height: 0.2rem; }
.coupon .input-box {
  margin-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid #DDD; }
  .coupon .input-box a {
    border-radius: 5px;
    width: 0.7rem;
    margin-left: 0.1rem;
    color: #FFF; }
    .coupon .input-box a:active, .coupon .input-box a:visited {
      color: #FFF; }
  .coupon .input-box input {
    margin-top: 0.025rem;
    height: 0.25rem;
    line-height: 0.25rem;
    border-radius: 4px; }
.coupon .ticket .item {
  margin-bottom: 0.1rem; }
.coupon .ticket h2 {
  font-size: 0.16rem;
  line-height: 0.35rem; }
.coupon .ticket .ticket-btn {
  display: table-cell;
  vertical-align: middle;
  width: 0.6rem;
  height: 0.95rem;
  color: #FFF;
  text-align: center;
  font-size: 0.16rem;
  line-height: 0.2rem;
  background-color: #EC3351;
  position: relative; }
  .coupon .ticket .ticket-btn:before {
    content: '';
    position: absolute;
    width: 0.07rem;
    height: 0.95rem;
    top: 0;
    left: 0;
    background-image: url(../images/border-red.png);
    background-repeat: no-repeat;
    background-size: contain; }
.coupon .ticket .already {
  display: block;
  background: url(../images/already.png) no-repeat top left;
  background-size: 100% 100%; }
  .coupon .ticket .already span {
    background-color: #FFE800;
    color: #EC3351;
    line-height: 0.2rem;
    height: 0.2rem;
    width: 0.45rem;
    text-align: center;
    border-radius: 0.1rem;
    font-size: 0.12rem;
    display: block;
    margin: 0 auto;
    margin-top: 0.6rem; }
.coupon .ticket .ctx {
  height: 0.95rem;
  background-color: #FFF;
  border: 1px solid #DDD;
  padding: 0.1rem 0.15rem;
  position: relative;
  background-image: url(../images/bg-ticket.png);
  background-size: 100% 100%; }
  .coupon .ticket .ctx:before {
    content: '';
    position: absolute;
    width: 0.07rem;
    height: 0.95rem;
    top: 0;
    right: -0.06rem;
    background-image: url(../images/border-white.png);
    background-repeat: no-repeat;
    background-size: contain; }
  .coupon .ticket .ctx .tip {
    font-size: 0.12rem;
    color: #999999; }
  .coupon .ticket .ctx .info span {
    font-size: 0.12rem;
    color: #FFF;
    background-color: #EC3351;
    line-height: 0.14rem;
    padding: 0 0.05rem; }
  .coupon .ticket .ctx .info p {
    line-height: 0.16rem; }
.coupon .ticket .price {
  color: #EC3351;
  font-weight: 800;
  font-size: 0.3rem;
  line-height: 0.35rem; }

/* 个人中心 */
.usercenter .user-info {
  background-color: #EC3351;
  color: #FFF; }
  .usercenter .user-info img {
    display: block;
    width: 0.65rem;
    height: 0.65rem;
    border-radius: 50%; }
  .usercenter .user-info .username {
    font-size: 0.16rem;
    line-height: 0.3rem; }
  .usercenter .user-info .info {
    width: 100%;
    line-height: 0.175rem; }
  .usercenter .user-info .time {
    line-height: 0.175rem;
    color: #F7BEC5; }
  .usercenter .user-info .grid-info {
    margin-left: 0.1rem; }
.usercenter .grid-money {
  background-color: #FFF;
  line-height: 0.4rem;
  height: 0.4rem;
  border-bottom: 1px solid #EEE; }
.usercenter .tuijian {
  height: 0.35rem;
  line-height: 0.35rem;
  font-size: 0.16rem;
  border-top: 1px solid #EEE; }
  .usercenter .tuijian span {
    color: #EC3351; }
.usercenter .grid-item {
  background-color: #FFF; }
  .usercenter .grid-item a.item {
    display: block;
    height: 0.55rem;
    padding-left: 0.38rem;
    color: #333; }
    .usercenter .grid-item a.item img {
      display: block;
      width: 0.2rem;
      height: 0.2rem;
      position: absolute;
      left: 0.15rem;
      top: 0.1rem; }
    .usercenter .grid-item a.item .title {
      color: #333;
      line-height: 0.2rem;
      margin-top: 0.1rem; }
    .usercenter .grid-item a.item .small {
      color: #999;
      line-height: 0.22rem;
      font-size: 0.12rem; }
      .usercenter .grid-item a.item .small span {
        color: #EC3351; }
    .usercenter .grid-item a.item:active .title, .usercenter .grid-item a.item:visited .title {
      color: #333; }
    .usercenter .grid-item a.item:active .small, .usercenter .grid-item a.item:visited .small {
      color: #999; }
      .usercenter .grid-item a.item:active .small span, .usercenter .grid-item a.item:visited .small span {
        color: #EC3351; }
  .usercenter .grid-item a.item:nth-child(odd) {
    border-right: 1px solid #EEE; }
  .usercenter .grid-item .tip {
    display: none;
    top: 0.4rem;
    z-index: 10;
    position: absolute;
    background-color: #CECECE;
    width: 90%;
    left: 5%;
    padding: 0.2rem 0.25rem;
    border-radius: 8px; }
    .usercenter .grid-item .tip span.bk {
      display: block;
      width: 0.05rem;
      height: 0.1rem;
      background-image: url(../images/icon-right.png);
      background-size: 100% 100%; }
    .usercenter .grid-item .tip a {
      color: #999;
      line-height: 0.35rem; }
    .usercenter .grid-item .tip p {
      line-height: 0.25rem; }
    .usercenter .grid-item .tip .angle {
      position: absolute;
      top: -0.075rem;
      left: 0.4rem;
      display: inline-block;
      width: 0;
      height: 0;
      overflow: hidden;
      line-height: 0;
      font-size: 0;
      vertical-align: middle;
      border-bottom: 0.075rem solid #CECECE;
      border-top: 0 none;
      border-left: 0.075rem solid transparent;
      border-right: 0.075rem solid transparent; }
  .usercenter .grid-item .tip2 .angle {
    left: 2.0rem; }

.order-input .header {
  display: block;
  background-color: #FFF;
  color: #333;
  padding: 0.15rem 0.1rem 0.2rem 0.1rem;
  font-size: 0.16rem; }
  .order-input .header span {
    position: absolute;
    top: 0.28rem;
    right: 0.1rem;
    display: block;
    width: 0.05rem;
    height: 0.1rem;
    background-image: url(../images/icon-right.png);
    background-size: 100% 100%; }
  .order-input .header p {
    line-height: 0.24rem; }
  .order-input .header .add {
    line-height: 0.2rem;
    color: #999;
    font-size: 0.14rem;
    padding-left: 0.6rem; }
.order-input .pingtai {
  font-size: 0.16rem;
  background-color: #FFF;
  line-height: 0.35rem; }
.order-input .pay-way {
  line-height: 0.4rem; }
  .order-input .pay-way .btn-way {
    margin-left: 0.1rem; }
  .order-input .pay-way span {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 0.13rem;
    height: 0.13rem;
    border-radius: 50%;
    background-size: 100% 100%;
    background-image: url(../images/icon-nocheck.png); }
  .order-input .pay-way .check span {
    background-image: url(../images/icon-check.png); }
.order-input .ticket {
  padding-right: 0.2rem;
  line-height: 0.4rem; }
  .order-input .ticket span {
    position: absolute;
    top: 0.15rem;
    right: 0.1rem;
    display: block;
    width: 0.05rem;
    height: 0.1rem;
    background-image: url(../images/icon-right.png);
    background-size: 100% 100%; }
.order-input .bottom-bk {
  background-color: #FFF;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 5;
  height: 0.4rem; }
  .order-input .bottom-bk .btn {
    line-height: 0.3rem;
    width: 1rem;
    border-radius: 4px; }
  .order-input .bottom-bk .ub-f1 {
    width: 0; }
    .order-input .bottom-bk .ub-f1 span {
      font-size: 0.16rem; }
    .order-input .bottom-bk .ub-f1 i {
      font-style: normal;
      color: #999; }

.value {
  display: none; }

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100; }

.value-list {
  position: fixed;
  top: 60%;
  left: 0;
  bottom: 0;
  z-index: 101;
  height: 40%;
  width: 100%;
  overflow-y: auto;
  background-color: #FFF;
  padding-bottom: 0.45rem; }
  .value-list .btn {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 102;
    width: 100%; }
  .value-list .item {
    position: relative;
    padding-top: 0.1rem;
    padding-bottom: 0.15rem; }
    .value-list .item .title {
      font-size: 0.12rem;
      padding: 0 0.05rem; }
  .value-list h3 {
    font-size: 0.14rem;
    line-height: 0.24rem; }
  .value-list p {
    font-size: 0.12rem;
    line-height: 0.16rem; }
  .value-list .radio {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0.1rem;
    width: 0.13rem;
    height: 0.13rem;
    border-radius: 50%;
    background-size: 100% 100%;
    background-image: url(../images/icon-nocheck.png); }
  .value-list .cur {
    background-image: url(../images/icon-check.png); }

.grid-goods-info img {
  display: block;
  width: 0.9rem;
  margin-right: 0.1rem; }
.grid-goods-info .ub-f1 {
  width: 0; }
.grid-goods-info .ub-f1, .grid-goods-info p {
  line-height: 0.22rem; }
.grid-goods-info .small {
  font-size: 0.12rem; }

main.my-order .desc p {
  line-height: 0.2rem; }
main.my-order .btn {
  border-radius: 4px; }
main.my-order .handle {
  overflow: hidden; }

.help-req img {
  display: block;
  width: 100%; }

.form > div {
  line-height: 0.4rem; }
.form input, .form select {
  background-color: transparent;
  line-height: 40px; }
.form select {
  -webkit-appearance: none; }
.form .right {
  position: absolute;
  top: 0.15rem;
  right: 0.1rem;
  display: block;
  width: 0.05rem;
  height: 0.1rem;
  background-image: url(../images/icon-right.png);
  background-size: 100% 100%; }
.form .head {
  width: 1rem; }

.my-user .ctx {
  border-radius: 8px;
  padding-top: 0.25rem;
  overflow: hidden;
  background-color: #EC3351;
  color: #FFF; }
  .my-user .ctx img {
    display: block; }
  .my-user .ctx p {
    text-align: center;
    line-height: 0.18rem; }
  .my-user .ctx .trans {
    color: #F6AFB8; }
  .my-user .ctx .user-img {
    margin: 0 auto;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%; }
  .my-user .ctx .erweima {
    margin: 0 auto;
    width: 0.6rem;
    height: 0.6rem; }
  .my-user .ctx .desc {
    padding-left: 0.28rem;
    padding-bottom: 0.2rem;
    padding-right: 0.18rem;
    margin-top: 0.3rem; }
    .my-user .ctx .desc img {
      display: block;
      width: 0.4rem;
      height: 0.4rem;
      margin-right: 0.15rem; }
    .my-user .ctx .desc .small {
      font-size: 0.12rem;
      line-height: 0.12rem;
      margin-top: 0.05rem; }
    .my-user .ctx .desc p {
      text-align: left; }

/*# sourceMappingURL=main.css.map */
