/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-size: 16px; }

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  color: #333; }

header, footer, nav, menu, main, section, article, aside,
details, figcaption, figure, summary, hgroup {
  display: block; }

h1, h2, h3, h4, h5, h6, p, img, a, pre,
blockquote, q, del, small, abbr, address, sub, sup,
em, i, strong, b, tt, code, dfn, samp, var, cite, mark,
dd, dl, dt, ol, ul, li,
fieldset, legend, caption,
form, label, button, input, select, textarea,
table, tr, th, td {
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  border: 0 none; }

ul, li {
  list-style-type: none; }

img {
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

b, strong {
  font-weight: 700; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

hr {
  box-sizing: content-box;
  height: 0; }

button {
  vertical-align: middle;
  cursor: pointer;
  -webkit-appearance: button; }

input, select, textarea {
  outline: none;
  vertical-align: middle;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }

input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type='radio'] {
  margin-right: 5px;
  height: 18px;
  width: 18px; }

input::-webkit-input-placeholder {
  color: #999; }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto; }

textarea {
  display: block;
  padding: 10px;
  background-color: #fff;
  resize: none; }
  textarea::-webkit-input-placeholder {
    color: #999; }

select {
  display: block;
  padding: 0 5px;
  width: 100%;
  height: 40px;
  -webkit-appearance: none; }

::-webkit-scrollbar {
  width: 0px; }

a {
  text-decoration: none;
  color: #333;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none; }

/* base */
.fl {
  float: left; }

.fr {
  float: right; }

.tc {
  text-align: center; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

.hide {
  display: none; }

.show {
  display: block; }

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.break {
  word-break: break-all;
  word-wrap: break-word; }

.underline {
  text-decoration: underline; }

/* layout */
.container {
  padding: 0 1.25rem; }

.relative {
  position: relative; }

.fixed {
  position: fixed !important; }

.absolute {
  position: absolute; }

.col-1 {
  float: left;
  position: relative;
  width: 8.33333%; }

.col-2 {
  float: left;
  position: relative;
  width: 16.66667%; }

.col-2-4 {
  float: left;
  position: relative;
  width: 20%; }

.col-3 {
  float: left;
  position: relative;
  width: 25%; }

.col-4 {
  float: left;
  position: relative;
  width: 33.33333%; }

.col-5 {
  float: left;
  position: relative;
  width: 41.66667%; }

.col-6 {
  float: left;
  position: relative;
  width: 50%; }

.col-7 {
  float: left;
  position: relative;
  width: 58.33333%; }

.col-8 {
  float: left;
  position: relative;
  width: 66.66667%; }

.col-9 {
  float: left;
  position: relative;
  width: 75%; }

.col-12 {
  position: relative;
  width: 100%;
  overflow: hidden; }

.clearfix,
.container:after,
.col-1::after,
.col-2::after,
.col-2-4::after,
.col-3::after,
.col-4::after,
.col-5::after,
.col-6::after,
.col-7::after,
.col-8::after,
.col-9::after,
.col-12::after {
  content: "";
  display: table;
  clear: both; }

.p10 {
  padding: 0.625rem; }

.p-10 {
  padding: 0 0.625rem; }

.p15 {
  padding: 0.9375rem; }

.p-15 {
  padding: 0 0.9375rem; }

.p20 {
  padding: 1.25rem; }

.p-20 {
  padding: 0 1.25rem; }

.p30 {
  padding: 1.875rem; }

.p-30 {
  padding: 0 1.875rem; }

.p-50 {
  padding: 0 3.125rem; }

.p-60 {
  padding: 0 3.75rem; }

.p-80 {
  padding: 0 5rem; }

.bk {
  display: block;
  width: 100%; }

.noindent {
  text-indent: 0; }

/* button */
.btn {
  line-height: 2.1875rem;
  text-align: center;
  color: #fff;
  font-size: 1.125rem;
  letter-spacing: 0.125rem;
  background-color: #3c8bf8;
  border: none;
  border-radius: 0.1875rem; }

.btn-bk {
  width: 100%;
  display: block; }

/* keyframes */
@-webkit-keyframes ani-rond {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes ani-rond {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes ani-show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes ani-show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes ani-hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes ani-hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.page-otherService {
  padding-bottom: 10px; }
  .page-otherService .step {
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 15px;
    line-height: 2.5rem; }

.service-title {
  font-size: 16px;
  color: #000;
  height: 2.75rem;
  line-height: 2.75rem; }

.input-box {
  background-color: #ffffff;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  padding: 5px 15px; }
  .input-box .input-grid {
    padding: 3px 0; }
  .input-box .address {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .input-box .input-grid.center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.page-result .result-grid {
  background-color: #FFF;
  padding: 0 10px 10px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100px 100px; }
  .page-result .result-grid .title {
    height: 2.75rem;
    line-height: 2.75rem;
    border-bottom: 0.5px solid #DDD;
    margin-bottom: 10px;
    position: relative; }
    .page-result .result-grid .title .text {
      position: relative;
      display: inline-block;
      z-index: 10;
      padding: 0 10px;
      color: #000000;
      font-weight: 800;
      font-size: 16px; }
    .page-result .result-grid .title .bg {
      position: absolute;
      width: 100%;
      height: 0.8125rem;
      top: 50%;
      left: 0;
      z-index: -1; }
    .page-result .result-grid .title .bg-green {
      background-color: #98faa3; }
    .page-result .result-grid .title .bg-blue {
      background-color: #3168c6;
      opacity: 0.8; }
    .page-result .result-grid .title .tip {
      width: 2rem;
      height: 2.1875rem;
      position: absolute;
      top: -4px;
      right: 10px;
      background-size: 100% 100%; }
    .page-result .result-grid .title .tip1 {
      background-image: url(../images/1.png); }
    .page-result .result-grid .title .tip2 {
      background-image: url(../images/2.png); }
  .page-result .result-grid .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .page-result .result-grid .item .item-title {
      color: #aaa;
      width: 5.625rem;
      line-height: 1.875rem; }
    .page-result .result-grid .item .item-ctx {
      line-height: 1.875rem; }

.page-result .grid1 {
  background-image: url(../images/bg1.png); }

.page-result .grid2 {
  background-image: url(../images/bg2.png); }

.page-index .swiper-slide {
  padding: 0 10px; }
  .page-index .swiper-slide img {
    display: block;
    width: 100%; }

.page-index .swiper-container {
  padding: 10px 0 20px; }

.page-index .swiper-slide:nth-child(2n) {
  width: 60%; }

.page-index .swiper-slide:nth-child(3n) {
  width: 40%; }

.page-index .swiper-pagination-bullet {
  width: 6px;
  height: 6px; }

.page-index .swiper-pagination-bullet-active {
  width: 18px;
  border-radius: 3px; }

.page-index .swiper-container-horizontal > .swiper-pagination-bullets, .page-index .swiper-pagination-custom, .page-index .swiper-pagination-fraction {
  bottom: 0px; }

.page-index .tel {
  width: 100%;
  display: block;
  margin-top: 18px;
  margin-bottom: 15px; }

.page-police-detail .grid-address {
  background-color: #fff;
  padding: 0 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  .page-police-detail .grid-address .address-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 0; }
    .page-police-detail .grid-address .address-cont p {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      font-size: 12px;
      line-height: 22px;
      color: #999; }
  .page-police-detail .grid-address .search {
    border-top: 0.5px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px; }
    .page-police-detail .grid-address .search a {
      color: #3c8bf8;
      font-size: 15px;
      line-height: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .page-police-detail .grid-address .search a img {
        width: 23px;
        height: 25px;
        margin-top: 5px; }

.page-police-detail .wrap {
  padding: 0 10px; }
  .page-police-detail .wrap h3 {
    font-size: 14px;
    color: #000;
    line-height: 42px; }

.page-police-detail section {
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #FFF; }
  .page-police-detail section .title {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 47px;
    color: #FFF;
    position: relative;
    background: -webkit-linear-gradient(left, #3c8bf8, #4ccfff);
    background: linear-gradient(to right, #3c8bf8, #4ccfff); }
    .page-police-detail section .title .police {
      margin-left: 10px;
      width: 23px;
      height: 22px; }
    .page-police-detail section .title .bg {
      position: absolute;
      height: 47px;
      width: 81px;
      top: 0;
      right: 0; }
  .page-police-detail section .ctx {
    padding: 8px 20px 15px; }
    .page-police-detail section .ctx p {
      margin-top: 8px;
      font-size: 13px;
      line-height: 20px; }
      .page-police-detail section .ctx p span {
        color: #aaa;
        display: inline-block;
        width: 65px; }
  .page-police-detail section .btn-groups {
    padding: 0 10px; }
    .page-police-detail section .btn-groups .col-12 {
      border-top: 0.5px solid #ddd; }
    .page-police-detail section .btn-groups .col-6 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 50px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative; }
      .page-police-detail section .btn-groups .col-6 a {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #3c8bf8; }
      .page-police-detail section .btn-groups .col-6 .icon {
        border-radius: 50%;
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 2px solid #3c8bf8;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 13px 13px;
        margin-right: 10px; }
      .page-police-detail section .btn-groups .col-6 .icon-tel {
        background-image: url(../images/icon-tel.png); }
      .page-police-detail section .btn-groups .col-6 .icon-sms {
        background-image: url(../images/icon-sms.png); }
      .page-police-detail section .btn-groups .col-6:first-child::after {
        content: " ";
        height: 18px;
        width: 1px;
        background-color: #DDD;
        position: absolute;
        top: 50%;
        margin-top: -9px;
        right: 0; }

.page-send {
  padding: 10px 0 0; }
  .page-send .wrap {
    padding: 0 10px; }
  .page-send section {
    background-color: #FFF;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0 10px; }
  .page-send .input-grid {
    padding: 3px 0;
    font-size: 14px; }
  .page-send .company {
    background-color: #FFF; }
  .page-send .grid-sendDetail .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 75px;
    padding: 10px 0;
    border-bottom: 0.5px solid #DDD; }
    .page-send .grid-sendDetail .item:last-child {
      border: 0 none; }
    .page-send .grid-sendDetail .item img {
      width: 28px;
      height: 33px;
      margin-right: 5px; }
    .page-send .grid-sendDetail .item .info {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 0;
              flex: 1 0 0; }
      .page-send .grid-sendDetail .item .info .name {
        line-height: 20px; }
      .page-send .grid-sendDetail .item .info .p-wrap {
        position: relative;
        width: 100%;
        height: 20px; }
      .page-send .grid-sendDetail .item .info .address {
        width: 100%;
        position: absolute;
        line-height: 20px;
        font-size: 12px;
        color: #999; }
    .page-send .grid-sendDetail .item .nopeople {
      font-size: 13px;
      color: #DDD;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .page-send .grid-sendDetail .item .arrow {
      margin-left: 10px; }
  .page-send .baojia .backup {
    padding: 10px 0; }
    .page-send .baojia .backup textarea {
      display: block;
      width: 100%;
      height: 5rem;
      background-color: #F8F8F8;
      padding: 10px;
      border-radius: 4px; }
      .page-send .baojia .backup textarea::-webkit-input-placeholder {
        color: #ddd;
        font-size: 14px; }
  .page-send .tip {
    padding: 10px 15px 15px;
    font-size: 12px;
    text-align: center;
    color: #666; }
    .page-send .tip span {
      color: #c45f5f; }
  .page-send footer.send {
    background-color: #FFF;
    padding: 0 10px 10px; }
    .page-send footer.send .radio {
      padding: 12px 0;
      font-size: 12px;
      color: #aaa; }
      .page-send footer.send .radio input[type='radio'] {
        margin-top: -2px;
        -webkit-appearance: none;
        border-radius: 50%;
        border: 1px solid #3c8bf8;
        background-clip: content-box;
        padding: 4px; }
      .page-send footer.send .radio input[type='radio']:checked {
        background-color: #3c8bf8; }
      .page-send footer.send .radio a {
        color: #3c8bf8; }

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .dialog .dialog-ctx {
    padding: 0 10px;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .dialog .cont {
    background-color: #FFF;
    border-radius: 4px; }
    .dialog .cont .input-grid {
      padding: 3px 0; }

.dialog-send h3 {
  text-align: center;
  line-height: 30px;
  margin: 5px 0; }

.dialog-send .btn {
  margin-top: 10px; }

.page-contect .contect-info {
  padding: 10px 15px;
  border-radius: 8px;
  color: #FFF;
  box-shadow: 0px 10px 40px 0px rgba(33, 82, 255, 0.34);
  background: -webkit-linear-gradient(left, #75a5fa, #466bff);
  background: linear-gradient(to right, #75a5fa, #466bff); }
  .page-contect .contect-info .grid-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0; }
    .page-contect .contect-info .grid-item .title {
      width: 5.3125rem; }
    .page-contect .contect-info .grid-item .des {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .page-contect .contect-info .grid-item .police {
      margin-bottom: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .page-contect .contect-info .grid-item .police:last-child {
        margin-bottom: 0; }
      .page-contect .contect-info .grid-item .police p {
        margin-right: 10px; }
      .page-contect .contect-info .grid-item .police img {
        margin-left: 10px; }
      .page-contect .contect-info .grid-item .police .dashed {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        height: 1px;
        border-bottom: 1px dashed #ddd; }

.page-contect .bg-line {
  margin-left: -10px;
  margin-right: -10px; }

.page-news .news-list {
  background-color: #FFF; }
  .page-news .news-list .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    border-bottom: 0.5px solid #ddd; }
    .page-news .news-list .item:last-child {
      border: 0 none; }
    .page-news .news-list .item .desc {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      .page-news .news-list .item .desc .title {
        font-size: 14px;
        line-height: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
        max-height: 42px; }
    .page-news .news-list .item .info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 5px 0 0;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 12px;
      color: #ccc;
      font-weight: 300; }
      .page-news .news-list .item .info .pv {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 20px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .page-news .news-list .item .info .pv img {
          width: 15px;
          height: 10px; }
    .page-news .news-list .item .news-img {
      width: 95px;
      height: 55px;
      margin-left: 20px; }

.bg-gray {
  background-color: #efeef4; }

.bg-fff {
  background-color: #FFF; }

footer {
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.06); }

.service-tab {
  background-color: #FFF;
  height: 2.75rem;
  text-align: center; }
  .service-tab a {
    display: block;
    margin: 0 auto;
    width: 5.8125rem;
    line-height: 2.8125rem;
    height: 44px;
    color: #aaa;
    font-size: 0.875rem; }
    .service-tab a:visited {
      color: #aaa; }
    .service-tab a:actived {
      color: #aaa; }
  .service-tab a.active {
    color: #3481eb;
    border-bottom: 2px solid #3481eb; }

.arrow {
  color: #ddd;
  -webkit-transform: scaleY(1.5);
          transform: scaleY(1.5);
  font-weight: 200;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  display: inline-block; }

.input-grid {
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.5px solid #ddd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px; }
  .input-grid:last-child {
    border: 0 none; }
  .input-grid .title {
    width: 5.625rem;
    color: #aaa;
    line-height: 2.5rem; }
  .input-grid input {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    line-height: 1.25rem;
    height: 1.25rem;
    color: #aaa;
    font-size: 14px; }
    .input-grid input::-webkit-input-placeholder {
      color: #ddd; }
  .input-grid textarea {
    margin-top: 10px;
    padding: 5px;
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: #f8f8f8;
    color: #aaa;
    height: 5rem;
    margin-bottom: 6px;
    font-size: 14px; }
    .input-grid textarea::-webkit-input-placeholder {
      color: #aaa;
      font-size: 14px; }
  .input-grid select {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: #FFF; }
  .input-grid img {
    width: 20px;
    height: 18px; }

.input-grid.address {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.bigtitle .title {
  width: 6.875rem !important; }

.bg-line {
  height: 8px;
  background-color: #efeef4; }

.grid-service {
  padding: 20px 10px 0; }
  .grid-service .title {
    color: #000;
    font-size: 14px;
    line-height: 14px;
    font-weight: 800;
    padding-left: 5px;
    border-left: 4px solid #4f77fe;
    margin-bottom: 15px; }
  .grid-service .list-grid {
    width: 100%;
    overflow: hidden; }
    .grid-service .list-grid .list-item {
      float: left;
      width: 33.33333%;
      margin-bottom: 20px; }
      .grid-service .list-grid .list-item a {
        display: block;
        width: 3.4375rem;
        margin: 0 auto; }
        .grid-service .list-grid .list-item a img {
          width: 55px;
          height: 55px;
          display: block;
          margin: 0 auto; }
        .grid-service .list-grid .list-item a .bg-box {
          width: 3.4375rem;
          height: 3.4375rem;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%; }
        .grid-service .list-grid .list-item a p {
          text-align: center; }
        .grid-service .list-grid .list-item a p.name {
          font-weight: 800;
          color: #000;
          margin-top: 5px; }
        .grid-service .list-grid .list-item a p.desc {
          font-size: 13px;
          margin-top: 10px; }
          .grid-service .list-grid .list-item a p.desc:last-child {
            margin-top: 2px; }
        .grid-service .list-grid .list-item a .zaixianzixun {
          background-image: url(../images/zaixianzixun.png); }
        .grid-service .list-grid .list-item a .wangshangyuyue {
          background-image: url(../images/wangshangyuyue.png); }
        .grid-service .list-grid .list-item a .wangshangbanshi {
          background-image: url(../images/wangshangbanshi.png); }
        .grid-service .list-grid .list-item a .shequminjing {
          background-image: url(../images/shequminjing.png); }
        .grid-service .list-grid .list-item a .xiansuojubao {
          background-image: url(../images/xiansuojubao.png); }
        .grid-service .list-grid .list-item a .weizhangchaxun {
          background-image: url(../images/weizhangchaxun.png); }
        .grid-service .list-grid .list-item a .gerenjidi {
          background-image: url(../images/gerenjidi.png); }
        .grid-service .list-grid .list-item a .jiazhengfuwu {
          background-image: url(../images/jiazhengfuwu.png); }
        .grid-service .list-grid .list-item a .daolujiuyuan {
          background-image: url(../images/daolujiuyuan.png); }
        .grid-service .list-grid .list-item a .jikaisuo {
          background-image: url(../images/jikaisuo.png); }
        .grid-service .list-grid .list-item a .diannaoweixiu {
          background-image: url(../images/diannaoweixiu.png); }
        .grid-service .list-grid .list-item a .jiadianweixiu {
          background-image: url(../images/jiadianweixiu.png); }
        .grid-service .list-grid .list-item a .gengduo {
          background-image: url(../images/gengduo.png); }
        .grid-service .list-grid .list-item a .kuaichukuaipei {
          background-image: url(../images/kuaichukuaipei.png); }

.money-footer {
  background-color: #FFF;
  height: 3.125rem;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .money-footer div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .money-footer a {
    line-height: 2.1875rem;
    height: 2.1875rem;
    font-size: 14px;
    width: 6.25rem; }

.footer-nav {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.06);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer-nav .footer-item div {
    background-repeat: no-repeat;
    background-position: center;
    height: 1.375rem;
    width: 1.375rem;
    background-size: 22px 22px;
    margin: 0 auto; }
  .footer-nav .footer-item p {
    font-size: 13px;
    color: #333; }
  .footer-nav .footer-item .index {
    background-image: url(../images/icon-index.png); }
  .footer-nav .footer-item .faxian {
    background-image: url(../images/icon-faxian.png); }
  .footer-nav .footer-item .user {
    background-image: url(../images/icon-user.png); }
  .footer-nav .footer-item.active .index {
    background-image: url(../images/icon-index-active.png); }
  .footer-nav .footer-item.active .faxian {
    background-image: url(../images/icon-faxian-active.png); }
  .footer-nav .footer-item.active .user {
    background-image: url(../images/icon-user-active.png); }
  .footer-nav .footer-item.active p {
    color: #3481eb; }

.news-nav {
  width: 100%;
  padding: 0 30px;
  overflow: hidden;
  background-color: #FFF;
  position: relative;
  z-index: 10;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06); }
  .news-nav .item {
    float: left;
    width: 33.33333%;
    text-align: center; }
    .news-nav .item a {
      color: #aaa;
      display: inline-block;
      line-height: 38px; }
      .news-nav .item a:visited {
        color: #aaa; }
      .news-nav .item a:actived {
        color: #aaa; }
    .news-nav .item.active a {
      color: #3481eb;
      border-bottom: 2px solid #3481eb; }
