.page-index{
	.swiper-slide{
		padding:0 10px;
		img{
			display: block;
			width:100%;
		}
		// height:180px;
		// background-repeat: no-repeat;
		// background-position: center;
		// background-size: 100%;
		// background-image: url(../images/banner.png);
	}
	.grid-banner{

	}
	.swiper-container{
		padding:10px 0 20px;
	}
	.swiper-slide:nth-child(2n) {
      width: 60%;
    }
    .swiper-slide:nth-child(3n) {
      width: 40%;
    }
    .swiper-pagination-bullet{
    	width:6px;
    	height: 6px;
    }
    .swiper-pagination-bullet-active{
    	width:18px;
    	border-radius: 3px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    	bottom:0px;
    }
	.tel{
		width:100%;
		display: block;
		margin-top:18px;
		margin-bottom:15px;
	}
}