@charset "UTF-8";

@import "reset";
@import "base";
@import "service";
@import "result";
@import "index";
.bg-gray{
  background-color: #efeef4;
}
.bg-fff{
  background-color: #FFF;
}

footer{
  box-shadow: 0px -4px 10px 0px 
    rgba(0, 0, 0, 0.06);
}
.service-tab{
  background-color:#FFF;
  height:px2rem(44px);
  text-align: center;
  a{
    display: block;
    margin:0 auto;
    width:px2rem(93px);
    line-height: px2rem(45px);
    height:44px;
    color:#aaa;
    font-size:px2rem(14px);
    &:visited{
      color:#aaa;
    }
    &:actived{
      color:#aaa;
    }
  }
  a.active{
    color:#3481eb;
    border-bottom:2px solid #3481eb;
  }
}

.arrow{
  color:#ddd;
  transform: scaleY(1.5);
  font-weight: 200;
  font-size:12px;
}

.bigtitle .title{
  width:px2rem(110px) !important;
}


.money-footer{
  background-color: #FFF;
  height:px2rem(50px);
  padding:0 10px;
  display: flex;
  align-items:center;
  div{
    flex:1;
  }
  a{
    line-height: px2rem(35px);
    height:px2rem(35px);
    font-size:14px;
    width:px2rem(100px);
    }
}