.page-result{
	.result-grid{
		background-color: #FFF;
		padding:0 10px 10px;
		box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.06);
		border-radius: 6px;
		margin-bottom:15px;
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: 100px 100px;
		.title{
			height:px2rem(44px);
			line-height:px2rem(44px);
			border-bottom:0.5px solid #DDD;
			margin-bottom: 10px;
			position: relative;
			.text{
				position: relative;
				display: inline-block;
				z-index:10;
				padding:0 10px;
				color: #000000;
				font-weight: 800;
				font-size:16px;
			}
			.bg{
				position: absolute;
				width:100%;
				height:px2rem(13px);
				top:50%;
				left:0;
				z-index:-1;
			}
			.bg-green{
				background-color: #98faa3;
			}
			.bg-blue{
				background-color: #3168c6;
				opacity: 0.8;
			}
			.tip{
				width:px2rem(32px);
				height:px2rem(35px);
				position: absolute;
				top:-4px;
				right:10px;
				background-size: 100% 100%;
			}
			.tip1{
				background-image: url(../images/1.png);
			}
			.tip2{
				background-image: url(../images/2.png);
			}
		}
		.item{
			display: flex;
			.item-title{
				color:#aaa;
				width:px2rem(90px);
				line-height: px2rem(30px);
			}
			.item-ctx{
				line-height: px2rem(30px);
			}
		}
	}
	.grid1{
		background-image: url(../images/bg1.png);
	}
	.grid2{
		background-image: url(../images/bg2.png);
	}
}
