.page-otherService{
  .step{
    font-size:16px;
    margin-top:12px;
    margin-bottom:15px;
  }
}

.service-title{
  font-size: 16px;
  color:#000;
  height:px2rem(44px);
  line-height: px2rem(44px);
}

.page-idService{
  
}






